In [ ]:
!pip install IMDbPY

Collecting IMDbPY
  Downloading https://files.pythonhosted.org/packages/95/23/60a7244a2d3473c80f71ae8dad832047058dc346525b3a6eacad78bc8d62/IMDbPY-6.7-py3-none-any.whl (285kB)
     |████████████████████████████████| 286kB 5.0MB/s
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.6/dist-packages (from IMDbPY) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from IMDbPY) (4.2.6)
Installing collected packages: IMDbPY
Successfully installed IMDbPY-6.7

In [ ]:
import imdb

In [ ]:
obj = imdb.IMDb()

In [ ]:
def rating(movie):  
  a = obj.search_movie(movie)
  b = obj.get_movie(a[0].movieID)
  li =  b.get('rating')
  return li

In [ ]:
imdb.__version__

'6.7'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('bollywood (1).csv', low_memory = False, encoding = 'unicode_escape', usecols = ['Title'], header = 0)

In [ ]:
df1 = df[8540:]

In [ ]:
df1.head()

In [ ]:
import numpy as np

In [ ]:
df1 = df1.values

In [ ]:
df1

In [ ]:
df1 = df1.tolist()

In [ ]:
new = sum(df1,[])

In [ ]:
new

In [ ]:
data = []

for i in range(len(new)):
  try:
    a = [new[i], rating('"'+ new[i]+ '"')]
    data.append(a)
    print(i)
  
  except IndexError:
    continue

In [ ]:
len(new)

In [ ]:
new

In [ ]:
data

In [ ]:
new_data = pd.DataFrame(data)

In [ ]:
new_data.count()

In [ ]:
new_data.to_csv('IMDB_ratings.csv')

In [ ]:
df = pd.read_csv("IMDB_ratings.csv")

In [ ]:
df[0:1]

In [ ]:
null_data = df[df.isnull().any(axis=1)]

In [ ]:
null_data

In [ ]:
df = df.dropna()

In [ ]:
df.count()

In [ ]:
df.to_csv("IMDB_ratings_not_null.csv")

In [ ]:
num = rating('Ra. One')

In [ ]:
num

4.8



---



---

In [ ]:
a = obj.search_movie('Love in bombay')

In [ ]:
a

[<Movie id:6988116[http] title:_Kalank (2019)_>,
 <Movie id:0415908[http] title:_Kaal (2005)_>,
 <Movie id:4936448[http] title:_Kalank (1979)_>,
 <Movie id:7138910[http] title:_Kalankini Badhu (2000)_>,
 <Movie id:0215888[http] title:_Kalankini (1981)_>,
 <Movie id:0234002[http] title:_Kalankini Kankabati (1981)_>,
 <Movie id:2011079[http] title:_Kalank Ka Tika (1986) (V)_>,
 <Movie id:1476997[http] title:_Kalankari Vilakkam (1965)_>,
 <Movie id:10196536[http] title:_"Film Companion: Movie Reviews" Kalank (2019)_>,
 <Movie id:0213757[http] title:_Kalank Shobha (1961)_>,
 <Movie id:5232400[http] title:_Kalank: Stigma (2015)_>,
 <Movie id:0370857[http] title:_Kul Kalank (1945)_>,
 <Movie id:4599252[http] title:_"Egynyári kaland" (2015)_>,
 <Movie id:0028607[http] title:_Bank Alarm (1937)_>,
 <Movie id:8665610[http] title:_Kay Zala Kalana (2018)_>,
 <Movie id:10289564[http] title:_Kalantaka (2019)_>,
 <Movie id:0408982[http] title:_Labs kita, Okey ka lang? (1998)_>,
 <Movie id:1817711[http] title:_Kaland (2011)_>,
 <Movie id:1158223[http] title:_Akal-akalan (1991)_>,
 <Movie id:10141042[http] title:_"The Kapil Sharma Show" The Star-Cast of Kalank (2019)_>]

In [ ]:
b = obj.get_movie_infoset()

In [ ]:
c = obj.get_movie(a[0].movieID)

In [ ]:
d = c.get('genres')

In [ ]:
d

In [ ]:
ia = imdb.IMDb()
search_results = ia.search_movie('men in black')

if search_results:
  movieID = search_results[0].movieID
  movie = ia.get_movie(movieID)
    if movie:
      cast = movie.get('genres')
      topActors = 4
      for actor in cast[:topActors]:
        print ("{0}".format(actor['name']))

In [ ]:
rating('Genius')

8.4

In [ ]:
a

7.0