In [ ]:
!pip install IMDbPY
import imdb
arr = []
for i in range(len(df1)):
  try:
    o = imdb.IMDb()
    a = o.search_movie(df1[i])
    b = o.get_movie(a[0].movieID)
    c = b.get('genres')
    arr.append(genre(c[0]))
    print(i)
    
  except:
    arr.append(0)
    
def genre(gen):
  switcher={
            'Adventure':1,
            'Action':2,
            'Drama':4,
            'Comedy':3,
            'Thriller':5,
            'Horror':7,
            'Crime':6,
            'Western':10, 
            'Short':11,
            'Animation':8,
            'History':9,
             }
  return switcher.get(gen,6)

In [ ]:
for actor in cast[:4]:
             print ("{0}".format(actor['name']))

In [ ]:
cast[0]

'Action'

In [ ]:
genre(cast[0])

2

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('IMDB_ratings_not_null.csv')
df1 = df['Title']
df1 = df1.values

In [ ]:
ab = pd.read_csv('Dataset_G_news.csv')

In [ ]:
ab.head()

   Unnamed: 0                            Title  IMDB  G_news
0           0                   Dulha Mil Gaya   4.4    0.60
1           1                Pyaar Impossible!   4.7    0.45
2           2                  Chance Pe Dance   4.7    0.65
3           3  Hello! Hum Lallan Bol Rahe Hain   6.3    0.55
4           4                 The Waiting Room   6.5    0.40

In [ ]:
ab['Genre'] = arr

In [ ]:
ab.head()

   Unnamed: 0                            Title  IMDB  G_news  Genre
0           0                   Dulha Mil Gaya   4.4    0.60      3
1           1                Pyaar Impossible!   4.7    0.45      3
2           2                  Chance Pe Dance   4.7    0.65      3
3           3  Hello! Hum Lallan Bol Rahe Hain   6.3    0.55      3
4           4                 The Waiting Room   6.5    0.40     11

In [ ]:
ab.tail()

      Unnamed: 0          Title  IMDB  G_news  Genre
1024        1024         Bharat   5.9    0.50      2
1025        1025    Kabir Singh   8.5    0.60      2
1026        1026          Drive   7.3    0.50      6
1027        1027     Dream Girl   6.5    0.50      3
1028        1028  Street Dancer   5.7    0.55      4

In [ ]:
ab.to_csv('Imdb_genre_gnews.csv')